
/* Eye size change animation */
@keyframes eyeSizeChange {
  0% {
    width: 100px;
    height: 90px;
  }
  50% {
    width: 50px;
    height: 45px;
  }
  25% {
    width: 25px;
    height: 22.5px;
  }
  100% {
    width: 100px;
    height: 90px;
  }
}

.robot-eye-left {
  animation: eyeSizeChange 2s infinite;
}


/* robot-let-ear rotation */
@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.robot-ear-left {
  animation: rotateInfinite 2.5s linear infinite;
}

/* robot-right-ear animation */
@keyframes moveRightFade {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(50px);
    opacity: 0;
  }
}

.robot-ear-right {
  animation: moveRightFade 1.5s ease-in-out infinite;
}

/* robot-teeth animation */
@keyframes openCloseMouth {
  0%, 100% {

  }
  50% {
    transform: scaleY(0.5);
    transform: scaleX(0.9);
    transform: translateX(-10px);
    height: 100px
  }
}

.robot-teeth:hover {
  border-radius: 15%;
  animation: openCloseMouth .6s infinite;
  cursor: pointer;
}

/* robot-nose animation */
@keyframes rotateMirror {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.robot-nose {
  animation: rotateMirror 4s ease-in-out infinite;
}

/* robot-eye-right animation */

@keyframes snakeMove1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(100px);
    width: 25px;
  }
  50% {
    transform: translateX(40px) translateY(180deg);
    width: 130px;
  }
  75% {
    transform: translateX(80px) translateY(20000px);
    width: 25px;
  }
}

@keyframes snakeRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(180deg);
  }
}

.robot-eye-right {
  animation: snakeMove1 4s ease-in-out infinite, snakeRotate 4s steps(1) infinite;
}